.studentContainer {
  background-color: #fcf0cf;
  height: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* margin: 0; */
  position: absolute;

}

#bannerText {
  font-family: 'Caveat';
  font-size: 92px;
}


